body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=47570");
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.router-outlet {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 10px;
}
